{% extends '/users/base.html'%}

{% block content%}
<div class="container w-50">
    <h2>{{ book['title'] }}</h2>

    <form action="/save-book" method="POST" id="bookStatusForm">
        <input type="hidden" name="google_books_id" value="{{ google_books_id }}">
        <button type="submit" class="btn btn-outline-dark" name="status" value="previously_read">Previously
            Read</button>
        <button type="submit" class="btn btn-outline-dark" name="status" value="currently_reading">Currently
            Reading</button>
        <button type="submit" class="btn btn-outline-dark" name="status" value="want_to_read">Want To Read</button>
    </form>

    <p><span class="fw-bold">Author: </span> {{ ', '.join(book['authors']) }}</p>
    <p><span class="fw-bold">Published Date: </span> {{ book['publishedDate'] }}</p>
    {%if book["averageRating"] %}
    <p><span class="fw-bold">Avg. Rating: </span> {{ book["averageRating"] }}/5</p>
    {% else%}
    <p><span class="fw-bold">Avg. Rating: </span> N/A </p>
    {% endif %}
    {% if book["ratingsCount"] %}
    <p><span class="fw-bold">Ratings Count: </span> {{ book["ratingsCount"] }}</p>
    {% else%}
    <p><span class="fw-bold">Ratings Count: </span> N/A </p>
    {% endif %}
    <p>Buy the book here: {{book["buyLink"]}}</p>
    <img src="{{ book['imageLinks']['thumbnail'] }}" alt="{{ book['title'] }} thumbnail">
    <p>{{ book.description |safe }}</p>
</div>
{% endblock%}