<div class="row mb-3">
    <h4>Find Your Next Read By Genre</h4>
    {% for genre in top_genres %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
        <a href="{{url_for('books_bp.search_genre', genre=genre)}}">
            <div class="book-card bg-grey border rounded p-3">
                <h6 class="">{{genre}}</h6>
                <img src="{{ url_for('static', filename='images/' + genre.replace(' ', '_') + '.jpg') }}"
                    alt="{{ genre }}" class="book-thumbnail" style="max-width: 100%; height: auto;">
            </div>
        </a>
    </div>
    {% endfor %}
</div>