<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4">Find Your Next Read</h1>
    <p class="lead font-weight-normal my-5">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit.Alias similique, id maiores sit laboriosam neque nihil libero quo. Reprehenderit, totam?
    </p>
    <form method="POST" action="{{url_for('books_bp.search_google_books')}}" class="d-flex">
        <div class="col-8 col-lg-8 col-md-6 col-sm-4 ">
            <input class="form-control" type="search" placeholder="Search books" aria-label="search" name="query">
        </div>
        <button class="btn btn-success col-3 col-md-2 col-sm-2 text-nowrap mx-2 " type="submit">Search
        </button>
    </form>
</div>