<div class="  bg-secondary-blue text-light" id="user_books_section">

    <div class="container">
        <h6 class="font-weight-bold mt-2">Currently Reading</h6>
        <div class="row d-block">
            {% if currently_reading%}
            {% for book in currently_reading %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                <a href="{{ url_for('books_bp.detail', volume_id=book.google_books_id) }}"
                    class="text-decoration-none text-dark">
                    <div class="user-book-card">
                        <img src="{{ book.thumbnail_url }}" alt="{{ book.title }}" class="user-book-thumbnail">
                        <form action="{{ url_for('books_bp.remove_user_book', volume_id=book.google_books_id) }}"
                            method="post">
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="delete-book-btn"
                                title="Remove book from tracked books">X</button>
                        </form>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-sm">
                <p>You have no books in your currently reading list.</p>
            </div>
            {% endif%}
        </div>
    </div>
    <hr>
    <div class="container">
        <h6 class="font-weight-bold">Previously Read</h6>
        <div class="row d-block">
            {% if previously_read%}
            {% for book in previously_read %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                <a href="{{ url_for('books_bp.detail', volume_id=book.google_books_id) }}"
                    class="text-decoration-none text-dark">
                    <div class="user-book-card">
                        <img src="{{ book.thumbnail_url }}" alt="{{ book.title }}" class="user-book-thumbnail">
                        <form action="{{ url_for('books_bp.remove_user_book', volume_id=book.google_books_id) }}"
                            method="post">
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="delete-book-btn"
                                title="Remove book from tracked books">X</button>
                        </form>
                    </div>
                </a>
            </div>

            {% endfor %}
            {% else %}
            <div class="col-sm">
                <p>You have no books in previously read list.</p>
            </div>
            {% endif%}
        </div>
    </div>
    <hr>
    <div class="container">
        <h6 class="font-weight-bold">Want To Read</h6>
        <div class="row d-block">
            {% if want_to_read%}
            {% for book in want_to_read %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                <a href="{{ url_for('books_bp.detail', volume_id=book.google_books_id) }}"
                    class="text-decoration-none text-dark">
                    <div class="user-book-card">
                        <img src="{{ book.thumbnail_url }}" alt="{{ book.title }}" class="user-book-thumbnail">
                        <form action="{{ url_for('books_bp.remove_user_book', volume_id=book.google_books_id) }}"
                            method="post">
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="delete-book-btn"
                                title="Remove book from tracked books">X</button>
                        </form>
                    </div>
                </a>
            </div>

            {% endfor %}
            {% else %}
            <div class="col-sm">
                <p>You have no books in your want to read list.</p>
            </div>
            {% endif%}
        </div>
    </div>
</div>