{% extends '/users/base.html'%}

{% block title %} Next Read {% endblock %}
{% block content%}

<div class="container w-75 my-5 bg-secondary-green p-5 d-flex justify-content-between">
    <div class="container w-100 ">
        <div class="col-6">
            <img src="{{current_user.image_url}}" width="150" height="150" alt="{{current_user.username}}'s profile img"
                class="rounded-circle my-1">
            <h3 class="my-3"><span class="fw-normal">{{current_user.username}}</span></h3>
            <p class="fw-bold">Email: <span class="fw-normal">{{current_user.email}}</span></p>
            <p class="fw-bold">Bio: <span class="fw-normal">{{current_user.bio}}</span></p>
            <p class="fw-bold">Location: <span class="fw-normal">{{current_user.location}}</span></p>
            <p class>{{current_user.creation_date}}</p>
        </div>
        <div>
            <a href="{{ url_for('users_bp.edit_user_form')}}" class="btn btn-outline-secondary">Edit Profile</a>
            <a href="/profile/delete" class="btn btn-outline-danger">Delete Profile</a>
        </div>
    </div>
</div>



{% endblock %}