{% extends '/users/base.html'%}

{% block title %} Next Read {% endblock %}
{% block content%}

<div class="d-flex flex-column align-items-center">
    <h1>Sign in Below</h1>
    <p class="lead">Don't have an account? <a href="{{ url_for('users.sign_up')}}">Register here</a></p>
    <form method="POST" action="{{ url_for('users.sign_in')}}">

        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">Sign in</button>

    </form>
</div>


{% endblock %}