{% extends '/users/base.html'%}

{% block title %} Next Read sign_up{% endblock %}
{% block content%}
<div class="d-flex flex-column align-items-center">
    <h1>Sign up Below</h1>
    <p class="lead">Have an account? <a href="{{ url_for('users.sign_in')}}">Sign in here</a></p>
    <form id="user_register_form" method="POST" action="{{ url_for('users.sign_up')}}">

        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
        </p>
        {% endfor %}

        <button id="user_register_form_button" class="btn btn-success" type="submit">Sign up</button>

    </form>
</div>

{% endblock %}